
html, body {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(-5deg, #0D4171, #5F82FF);
}


.button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(-5deg, #209EE5, #0F164F);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}