@font-face {
	font-family: 'Biennale';
	src: url('Biennale Medium.otf') format('opentype');
 }


body {
	margin: 0;
	padding: 0;
  background: linear-gradient(-5deg,#FFCB12, #f37a34 );
}


h1, h2 {
    text-align: center;
  }
h1{
    padding-top: 10vh;
    font-family:'Biennale';
    font-size: 28px;
    color: white;
}
.down {
   margin-top: 10vh; 
   align-items: center;
}

  
.button-row {
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  display: flex;
  padding-right: 50px;
  justify-content: center;
}

.icon-button2 {
  display: flex;
  justify-content: center;
}