@font-face {
	font-family: 'ClashDisplay-Semibold';
	src: url('ClashDisplay-Semibold.ttf') format('truetype');
 }

 @font-face {
	font-family: 'ClashDisplay-Medium';
	src: url('ClashDisplay-Medium.ttf') format('truetype');
 }

 :root {
  --base: 16px;
  --header: 40px;
  --subheader: 28px;
  --subheader3: 24px;
  --lobiwidth: 200px;
  --cardsize: 250px;

}

@media screen and (min-width: 1000px)
{
  :root {
      --base: 24px;
      --header: 80px;
      --subheader: 42px;
      --subheader3: 32px;
      --lobiwidth: 300px;
      --cardsize: 400px;
  }
}


body {
	margin: 0;
	padding: 0;
  background-image: url('Homescreen.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*
  background: #F29E20;
  background: radial-gradient(at left top, #F29E20, rgba(247, 227, 208, 0));
  */
}

/* Navigation Styles */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}


.nav-left a, .nav-right a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-family:'ClashDisplay-Medium';
  font-size: var(--base);
}

.Hero-section {
  display: block;
}

.title-div {
  text-align: center;
}


h1 {
    padding-top: 8vh;
    font-family:'ClashDisplay-Semibold';
    font-size: var(--header);
    color: white;
}

h2 {
  
  font-family:'ClashDisplay-Medium';
  font-size: var(--subheader);
  color: white;
}

h3 {
  font-family:'ClashDisplay-Medium';
  font-size: var(--subheader3);
  color: white;
}

P {
  font-family:'ClashDisplay-Medium';
  font-size: var(--base);
  color: white;
}

@media (min-width: 1000px) {
  h2 {
      margin-top: -4vh;

  }
}

.Lobi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--lobiwidth);
  height: var(--lobiwidth);
  border-radius: 50%;
  background-color: rgb(255, 242, 223);
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  margin-top: 10vh;
}

@media (min-width: 1000px) {
  .Lobi {
      margin-top: 20vh;

  }
}

@keyframes float {
  from {
    transform: translate(-50%, -50%) translateY(0);
  }
  to {
    transform: translate(-50%, -50%) translateY(-20px);
  }
}

/* Card Content */

.Lobi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
}

@media (min-width: 768px) {
  .Lobi-container {
    flex-direction: row;
}
}

.Lobi-modes {
  display: block;
  margin-top: 20vh;
  padding: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: var(--cardsize);
  height: var(--cardsize);
}

.card-title {

  padding-top: 0px;
  margin-bottom:0
  
}

@media (min-width: 768px) {
  .card-title {
    
    padding-top: 0px;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
 
}

@media (max-width: 768px) {
  .card-content {
    width: 200px;
    height: 150px;
  }
}

.card-description {
  margin-top: 0;
  margin-bottom: 0;
}

/* Description */

.Description {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 768px) {
  .Description {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

@media (min-width: 768px) {
  .description-container {
    flex-direction: row;
    margin-top: 10vh;
  }
}


.Description-title {
  width: 70vw;
  padding-left: 5vw;
}

@media (min-width: 768px) {
  .Description-title {
    width: 35vw;
  }
}

.Description-text {
  width: 70vw;
  padding-left: 5vw;
}

@media (min-width: 768px) {
  .Description-text {
    width: 35vw;
  }
}

.Description-image {
  background-image: url('Macbook-Zoom.png');
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 300px;
  padding-top: 50px;
  padding-left: 25px;

}

@media (min-width: 768px) and (max-width: 1100px){
  .Description-image {
    height: 250px;
    width: 350px;
    padding-left: 200px;
    padding-right: 50px;
  }
}

@media (min-width: 1100px) {
  .Description-image {
    height: 400px;
    width: 600px;
    padding-left: 200px;
    padding-right: 50px;
  }
}

/* How it works */

.HowitWorks {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 1100px) {
  .HowitWorks {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.HowItWorks-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

@media (min-width: 768px) {
  .HowItWorks-container {
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

.HowItWorks-image {
  background-image: url('HowItWorks.png');
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 300px;
  padding-top: 50px;
  padding-left: 25px;

}

@media (min-width: 768px) and (max-width: 1100px){
  .HowItWorks-image {
    height: 300px;
    width: 300px;
    padding-left: 200px;
    padding-right: 50px;
  }
}

@media (min-width: 1100px) {
  .HowItWorks-image {
    height: 400px;
    width: 430px;
    padding-left: 200px;
    padding-right: 50px;
  }
}