
body {
	margin: 0;
	padding: 0;
  background: linear-gradient(-5deg,#FFCB12, #e2834d );
}


h1, h2 {
    text-align: center;
  }
h1{
    padding-top: 10vh;
    font-size: 28px;
}
.down {
   margin-top: 10vh; 
   align-items: center;
}

  
